@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Bowlby+One|Dosis|Lilita+One|Nunito:900');

*, *:after, *:before {
	box-sizing: border-box;
}

header {
	display: none;
}

body {
    margin: 0;
    font: 20px Dosis, sans;
}

h1, h2, h3 {
	font-family: "Nunito", sans;
}

h1 {
	font-size: 1.8em;
}

h2.annonce {
	background: #457828;
	color: #fff;
	padding: 15px;
}

a {
    color: #457828;
}

ul {
	list-style-type: none;
}

.fullpage.home {
	text-align: center;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
  /* background-image: url('img/bg_home-1920.jpg'); */
  background-image: url('img/bg_home-1920.jpg');
	background-position: fixed;
	background-size: cover;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 2em;
}

.fullpage.home img {
    max-width: 100%;
    height: auto;
}

@media (max-width:1200px) {
  .fullpage.home {
    /* background-image: url('img/bg_home-1080.jpg'); */
    background-image: url('img/bg_home-1080.jpg');
  }
}

@media (max-width:800px) {
  .fullpage.home {
    /* background-image: url('img/bg_home-700.jpg'); */
    background-image: url('img/bg_home-700.jpg');
  }
}

.fullpage.home > * {
	margin: 15px;
}

.fullpage.home .logo {
	width: 30vw;
    min-width: 300px;
	padding: 20px;
}

.fullpage.home .text {
	background: rgba(255, 255, 255, 0.9);
	padding: 20px;
}

.fullpage.home h1 {
	margin-top: 0;
}


.nav-logo {
  width: 50px;
}

.linkslist > * {
	display: inline-block;
	margin: 5px 10px;
}

.social {
  text-decoration: none;
  font-size: 40px;
}

.social.twitter {
  color: #00acee;
}

.social.instagram {
  color: #fb3958;
}

.social.facebook {
  color: #3C5A99;
}

.content {
	max-width: 900px;
	margin: 15px auto;
}

article {
	padding: 0 15px;
}

article::after {
	display: block;
	content: "";
	width: 300px;
    max-width: 70vw;
	margin: 3em auto;
	border-bottom: 3px solid #CBD239;
}
